@charset "utf-8";

/* CSS Document */
body,html{
	height: 100%;
	font-size: 13px;
	font-family: "微軟正黑體", "新細明體", "Arial Unicode MS";
}


 /* Demos Menu
 * --------------------------------------- */

 #footerFrame{
	clear: both;
	padding: 20px;
}
	#copyright{
		margin: 0 0 130px 0;
		text-align: center;
		font-size: 18px;
		color: #3B4;
	}