@charset "utf-8";
/* CSS Document */
._m_wordlist{
	padding-left: 30px;
}
._m_wordlist .col_header{
	padding: 10px;
}
._m_wordlist .col_header .image,
._m_wordlist .col_header .marquee{
	float: left;
}
._m_wordlist .col_header .marquee a{
	padding: 0 10px;
	color: #F00;
}
._m_wordlist .col_header .marquee a:hover{
	padding: 0 10px;
	color: #CCC;
}
._m_wordlist .col_header  .marquee{
	padding: 5px 10px;
	width: 400px;
	
}

._m_wordlist .col_body  a.items{
	display: block;
	margin: 2px;
	border-bottom: 1px dotted #CCC;
	clear: both;
	float: left;
}
._m_wordlist .col_body  a:hover.items{
	color: #CCC;
}
._m_wordlist .col_body a.items .dCols.icon{
	float: left;
	width: 50px;
	padding: 5px;
}
._m_wordlist .col_body a.items .dCols.title{
	float: left;
	width: 300px;
	padding: 5px;
}
._m_wordlist .col_body a.items .dCols.unity{
	float: left;
	width: 100px;
	padding: 5px;
}
._m_wordlist .col_body a.items .dCols.date{
	float: left;
	width: 80px;
	
}

