@charset "utf-8";

@import url("_commsubpages.css");


.mDataList .cols-body{
	padding: 50px 18%;
}
	.mDataList .cols-body .hr{
		padding: 0;
		margin: 0 10px 15px 10px;
		height: auto;
		border-bottom: 1px solid #000;
	}
		.mDataList .cols-body .content{
			text-align: left;
			font-size: 15px;
		}
		.mDataList .cols-body .title p,
		.mDataList .cols-body .title h2{
			
		}
		.mDataList .cols-body .title h2{
			color: #E50;
			font-weight: 600;
			font-size: 18px;
		}
	
	.mDataList .cols-footer .btn-back{
		background-color: #E50;
		
	}
		.mDataList .cols-footer .btn-back:hover{
			background-color: #CCC;
			
		}
		
	
	
