@CHARSET "ISO-8859-1";

@import url("plugcss/bootstrap.min.css");
@import url("plugcss/jquery.fullPage.css");
@import url("plugcss/carousel.css");


@import url("_html.css");
@import url("_comm.css");


/* Demos Menu
 * --------------------------------------- */
#MenuBar{
	position:absolute;
	width: 100%;
	z-index: 999;
}

#mainFrame{
	background-color:#CCC;
	background:url('../_images/00_comm_bg.png') no-repeat bottom center;
	display: none;
}

#centerFrame .intro{
	max-width: 980px;
	margin: 0 auto;
}

/* .project-style
 * --------------------------------------- */
.project-style{

}
.project-style div,
.project-style p,
.project-style span{
	
}

 
 #section0{
	background:url('../_images/index_cover.jpg') no-repeat top center;
	margin: 0px;
	padding: 0px;
 }
	#section0 .intro a.links{
		display: block;
		float: left;
		position: absolute;
		width: 70px;
		height: 168px;
	}
	#section0 .intro a#link-0{
		top: 23%;
		right: 25.5%;
		height: 30px;
	}
	#section0 .intro a#link-1{
		top: 60%;
		left: 30%;
		background:url('../_images/10_index_menu_food.png') no-repeat top center;
	}
	#section0 .intro a#link-1:hover{
		background:url('../_images/10_index_menu_food_mhover.png') no-repeat top center;
	}

	#section0 .intro a#link-2{
		top: 40%;
		left: 50%;
		background:url('../_images/10_index_menu_store.png') no-repeat top center;
	}
	#section0 .intro a#link-2:hover{
		background:url('../_images/10_index_menu_store_mhover.png') no-repeat top center;
	}
	
	#section0 .intro a#link-3{
		top: 60%;
		left: 75%;
		background:url('../_images/10_index_menu_msg.png') no-repeat top center;
	}
	#section0 .intro a#link-3:hover{
		background:url('../_images/10_index_menu_msg_mhover.png') no-repeat top center;
	}
	
	#section0 .intro a#link-4{
		bottom: 10%;
		left: 50%;
		font-size: 26px;
		color:#FFF;
		padding: 40px 0 0 0;
		width: 168px;
		height: 168px;
		background:url('../_images/90_index_icon_find.png') no-repeat top center;
		opacity: 0;
		text-align: center;
	}

/* index
 * --------------------------------------- */
@media screen and (min-width: 992px){
	#section1 .main{
		width: 980px;
		margin: 30px auto;
	}
}
@media screen and (max-width: 768px){
	#section0 .intro a#link-4{
		display: block;
		float: none;
		width: 168px;
		height: 168px;
		top: 10%;
		left: 15%;
		background:url('../_images/90_index_icon_find.png') no-repeat top center;
	}
	#section1 .main{
		width: 90%;
		margin: 30px auto;
	}
}

.slider-wrapper{
	padding: 20px 0px;
}
.active-news{
	clear: both;
}
.active-news .btn-more{
	background-color:#F52; 
	color: #FFF;
}
.active-news .btn-more:hover{
	background-color:#CCC; 
}
	.active-news li.title{
		color: #F52;
		font-size: 26px;
	}
	.active-news li.content{
		padding: 5px;
		font-size: 16px;
	}
	.active-news li.more{
		font-size: 16px;
	}
	
/* cover effect
 * --------------------------------------- */	
.effect-overlay{
	width: 290px;
	margin: 0 auto;
}
.effect-overlay a{
	text-decoration: none;

}
.effect-overlay .mask{
	position:absolute;
	top:0px; 
	max-width: 290px;
	height: 100%; 
	display: block;
	overflow: hidden;
	opacity:0;
	-moz-transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
   	
}
.effect-overlay .mask  p{
	overflow: hidden;
	opacity:0;
}
.effect-overlay:hover .mask { 
	background:url('../_images/10_index_mask.png') repeat top center;
	opacity:1;

	-webkit-transition: opacity 0.5s 0s ease-in-out;
   -moz-transition: opacity 0.5s 0s ease-in-out;
   -o-transition: opacity 0.5s 0s ease-in-out;
   -ms-transition: opacity 0.5s 0s ease-in-out;
   transition: opacity 0.5s 0s ease-in-out;
} 
.effect-overlay:hover .mask  p{
	opacity:1;
	padding: 25px;
	font-size: 21px;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
}
	
	
